<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--https://msdn.microsoft.com/en-us/library/system.type.assemblyqualifiedname(v=vs.110).aspx-->
    <section
      name="hermesConfiguration"
      type="Hermes.Internal.Engine.Configuration.ConfigurationSectionHandlers.EngineConfiguration, Hermes"
      allowLocation="true"
      allowDefinition="Everywhere"/>
  </configSections>

  <hermesConfiguration>
    <transport>
      <rabbitMq>
        <hosts>
          <host name="primary" address="localhost" >
            <exchanges>
              <exchange name="exchangeName" type="fanout"/>
              <exchange name="exchangeName2" />
              <exchange name="exchangeName3" type="direct"/>
              <exchange name="exchangeName4" type="topic"/>
              <exchange name="exchangeName5" type="headers"/>
            </exchanges>
            
            <events>
              <publishers>
                <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" exchange="exhangeName" />
                <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
                <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
              </publishers>

              <subscribers>
                <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" exchange="exhangeName">
                  <concurrency count="10" />
                </message>
                
                <message type="MyMessageNamespace.SomeOtherMessage1, Application.MessagesAssembly" />
              </subscribers>              
            </events>

            <!--<commands>
              
            </commands>-->
          </host>

          <host name="secondary" address="192.1.1.1" />
        </hosts>
      </rabbitMq>
    </transport>
  </hermesConfiguration>

</configuration>
