<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--https://msdn.microsoft.com/en-us/library/system.type.assemblyqualifiedname(v=vs.110).aspx-->
    <section
      name="hermesConfiguration"
      type="Hermes.Internal.Engine.Configuration.ConfigurationSectionHandlers.EngineConfiguration, Hermes"
      allowLocation="true"
      allowDefinition="Everywhere"/>
  </configSections>

  <hermesConfiguration>
    <transport>
      <rabbitMq>
        <hosts>
          <host name="primary" address="localhost" >
            <!--
              Proposed new config
              
              Specify only the exchanges to which you want to subscribe. You need to specify the messages to be published on an exchange. 
              An added 'subscribe' attribute will specify if you want to subscribe to the exchange as well... this will default to 'true'
              The idea is that exchanges will be created to express a certain concept like: bill payment events, or customer updates etc...
              You can set the prefetch on the on the exchange, which will default to 5...
              
              When subscribing to an exchange a queue with the assembly name will be created which will bind to the exchange. If a 
              message is publish for which no Handler is not implemented it will simply ignore the message...
              
              -->
            <!--<exchanges>
              <exchange name="exchangeName" type="fanout" subscribe="false" prefetch="10">
                <publishers>
                  <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" />
                  <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
                  <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
                </publishers>
              </exchange>
              <exchange name="exchangeName2" />
              <exchange name="exchangeName3" type="direct"/>
              <exchange name="exchangeName4" type="topic"/>
              <exchange name="exchangeName5" type="headers"/>
            </exchanges>-->


            <exchanges>
              <exchange name="exchangeName" type="fanout"/>
              <exchange name="exchangeName2" />
              <exchange name="exchangeName3" type="direct"/>
              <exchange name="exchangeName4" type="topic"/>
              <exchange name="exchangeName5" type="headers"/>
            </exchanges>
            
            <events>
              <publishers>
                <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" exchange="exhangeName" />
                <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
                <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" />
              </publishers>

              <subscribers>
                <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" exchange="exhangeName">
                  <concurrency count="10" />
                </message>
                
                <message type="MyMessageNamespace.SomeOtherMessage1, Application.MessagesAssembly" />
              </subscribers>              
            </events>

            <!--<commands>
              
            </commands>-->
          </host>

          <host name="secondary" address="192.1.1.1" />
        </hosts>
      </rabbitMq>
    </transport>
  </hermesConfiguration>

</configuration>
