<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--https://msdn.microsoft.com/en-us/library/system.type.assemblyqualifiedname(v=vs.110).aspx-->
    <section
      name="hermesConfiguration"
      type="Hermes.Engine.Internal.Configuration.ConfigurationSectionHandlers.EngineConfigurationSection, Hermes"
      allowLocation="true"
      allowDefinition="Everywhere"/>
  </configSections>

  <hermesConfiguration>
    <transport>
      <rabbitMq>
        <exchanges>
          <exchange name="exchangeName" />
          <exchange name="exchangeName2" />
          <exchange name="exchangeName3" />
        </exchanges>

        <!--<publishers>
          <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" exchange="exhangeName" />
          <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly"  />
        </publishers>

        <subscribers>
          <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" exchange="exhangeName" />
          <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
        </subscribers>-->
      </rabbitMq>
    </transport>
    <!--<transport>
      <rabbitMq>
        <exchanges>
          <exchange name="exchangeName" />
          <exchange name="exchangeName2" />
          <exchange name="exchangeName3" />
        </exchanges>

        <publishers>
          <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" exchange="exhangeName" />
          <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly"  />
        </publishers>

        <subscribers>
          <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" exchange="exhangeName" />
          <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
        </subscribers>
      </rabbitMq>
    </transport>-->
  </hermesConfiguration>

</configuration>