<?xml version="1.0" encoding="utf-8" ?>
<configuration>


<!--RabbitMQ transport config-->
  <hermesConfiguration>
    <application name="Hermes.Publisher" />
    <transport type="rabbitmq"/>

    <qosConfiguration>
      <qos name="">
        <ttl value="{timespan value}" />
      </qos>
      <qos name="qosName">
        <ttl value="{timespan value}" />
      </qos>
    </qosConfiguration>

    <!--<publishers>
      <publisher>
        <exchange name="default|exchangeName" >
          <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" /> -->
    <!--maybe create the exchange under the hood per message type, this way the dev only need to know about the message types -->
    <!--
          <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" messageQosConfiguration="qosName"/>
        </exchange>
      </publisher>
      <publisher>
        <exchange name="default|exchangeName" >
          <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" />
          <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
        </exchange>
      </publisher>
    </publishers>
    
    <subscribers>
      <subscriber>
        <exchange name="default|exchangeName" >
          <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" /> -->
    <!--under the hood I think I should create an exchange per message and hook that exchange to the main one-->
    <!--
          <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
        </exchange>
      </subscriber>
      <subscriber>
        <exchange name="default|exhangeName" />
        <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
      </subscriber>
    </subscribers>-->


    <!--Alternative-->

    <!--optional-->
    <exchanges>
      <exchange name="exchangeName" />
      <exchange name="exchangeName2" />
      <exchange name="exchangeName3" />
    </exchanges>

    <publishers>
      <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" exchange="exhangeName" />
      <message type="MyMessageNamespace.SomeMessage1, Application.MessagesAssembly" messageQosConfiguration="qosName" />
    </publishers>

    <subscribers>
      <message type="MyMessageNamespace.SomeOtherMessage, Application.MessagesAssembly" exchange="exhangeName" />
      <message type="MyMessageNamespace.SomeOtherMessage2, Application.MessagesAssembly" />
    </subscribers>


  </hermesConfiguration>


  <!--MSMQ transport config-->
  <hermesConfiguration>
    <transport type="msmq" />

    <publishers>
      <publisher>
        <message type="MyMessageNamespace.SomeMessage, Application.MessagesAssembly" />
        <exchange name="default|exchangeName" />
      </publisher>
    </publishers>

    <subscribers>

    </subscribers>
  </hermesConfiguration>

</configuration>